body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color: white;
    background: #17153B;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(23, 21, 59, 0.637);
    z-index: 1000;
    height: 3vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0.4vw;
    height: 2vw;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a25ae6;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    border-bottom: 2px solid #444;
}

section#hello {
    background-image: url(img/backgroun.jpg);
    background-size: 100% 105%;
    background-position: center;
}

section#projects {
    background: #2E236C;
    flex-direction: column;
}

section#contact {
    background: #433D8B;
}

#projects {
    position: relative;
}

.skills {
    position: absolute;
    top: 2.5vw;
    left: 3vw;
    font-size: 2.2vw;
    color: white;
    width: 50vw;
    height: 22vw;
    background-color: rgb(200, 172, 214);
    border-radius: 0.8vw;
}


.profile {
    position: absolute;
    bottom: 2.5vw;
    left: 3vw;
    font-size: 2.2vw;
    color: white;
    width: 50vw;
    height: 22vw;
    background-color: rgb(200, 172, 214);
    border-radius: 0.8vw;
}

#projects h2 {
    position: absolute;
    font-size: 2.2vw;
    color: white;
    margin: 0;
    padding: 0;
    top: 0vw;
    right: 15vw;
}

.projects-list {
    display: flex;
    overflow-x: auto;
    width: 30%;
    position: absolute;
    flex-direction: column;
    max-height: 46vw;
    right: 3vw;
    overflow-x: hidden;
}

.projects-list::-webkit-scrollbar {
    width: 0.3vw;
}

.projects-list::-webkit-scrollbar-thumb {
    background: #9146c4;
    border-radius: 1vw;
}

.project {
    background: #222;
    padding: 1.1vw;
    margin: 0.6vw;
    border-radius: 0.8vw;
    transition: transform 0.3s;
    flex: 0 0 11vw;
}

.project:hover {
    transform: scale(1.05);
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: rgba(58, 52, 50, 0.479);
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: width 0.3s, height 0.3s, background 0.3s, border 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}